<joblist>
  <job>
    <defaultTab>output</defaultTab>
    <description></description>
    <executionEnabled>true</executionEnabled>
    <group>Variables</group>
    <id>6028bbb1-dac9-44eb-9927-5233bcd0e465</id>
    <loglevel>INFO</loglevel>
    <name>context</name>
    <nodeFilterEditable>false</nodeFilterEditable>
    <scheduleEnabled>true</scheduleEnabled>
    <sequence keepgoing='false' strategy='node-first'>
      <command>
        <exec>echo "Hello World !!!!"</exec>
      </command>
    </sequence>
    <uuid>6028bbb1-dac9-44eb-9927-5233bcd0e465</uuid>
  </job>
</joblist>
